body,p {
   font-family: "Arial",Verdana,Arial,Helvetica;
   font-size: 16px;
   line-height: 150%;
   color: #666;
}

li {
  font-size: 14px;
  line-height: 150%;
  color: #666;
}

li.none {
  font-size: 14px;
}

body {
//   background-color: #d0d0d0;
//   background-image: url('../images/background.jpg' );
}

#bannerLogo {
  width: 1024px;
  height: 86px;
  margin: auto;
}

.body {
   background-color: white;
   margin: auto;
   width: 100%;
}

.bodyContent {
     width: 1024px;
     margin: auto;
}

.bodyColumn li {
  font-size: 16px;
}

.bodyColumn ol, .bodyColumn ul {
  margin-left: 20px;
  margin-right: 20px;
}

.contentBox {
   padding-top: 14px;
}

#banner {
   background-image: url('../images/jwall_background.png');
   height: 86px;
}

a {
  color: #003366;
  text-decoration: none;
}

a:visited {
  color: #003366;
}

a:hover {
  text-decoration: underline;;
}

#header {
   display: none;
}

#bodyColumn {
   margin-left: 260px;
//   padding-top: 10px;
}

table.bodyTable th {
  background-color: #d0d0d0;
  color: #444;
}

table th {
    background-color: #f0f0f0;
    font-weight: bold;
    color: #888;
    border: solid 1px #b0b0b0;
}

table {
    border: solid 1px #b0b0b0;
    font-size: 12px;
    border-collapse: collapse;
}

td {
    text-align: center;
    background-color: white;
    border: solid 1px #a0a0a0;
    color: #888;
}


h1,h2,h3,h4,h5 {
   font-family: "Arial",Verdana,Arial,Helvetica;
   color: #444;
   font-weight: bold;
}

h1 {
   font-size: 24px;
   margin-left: 6px;
   padding-top: 20px;
}

h2 {
   font-size: 18px;
   margin-top: 25px;
   border: none;
   margin-left: 6px;
}

h3 {
   font-size: 16px;
   margin-left: 6px;
   margin-top: 25px;
}

p {
    margin-left: 6px;
}

.sidebar {
   width: 220px;
}

#banner {
   height: 80px;
}

li.expanded {
	list-style-type: circle;
	margin-left: 8px;
	padding-left:0px;
}

li:hover {
//	list-style-type: circle;
}

li.expanded strong, li.none strong {
	font-weight: bold;
}

.sidebarItemBody a {
	color: #666;
}

.figure {

   margin: auto;
   text-align: center;
   width: 80%;
}

.figure p {
   margin: auto;
}

#banner {
  background-image: none;
  border-bottom: 1px solid #fff;
  height: 60px;
  padding: 10px;
  margin-bottom: 20px;
}

#header {
  background-image: url('../images/header_bg.jpg');
  height: 80px;
}

#bannerRight {
    float: right;
}

#logoLeft {
    margin: 20px;
}

#logoRight {
    margin: 10px;
    margin-right: 20px;
}

#logoLeft, #logoRight {
//    visibility: hidden;
}

.clear hr {
    visibility: hidden;
}
